<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^admin/panel(/.*)?$ /admin/panel/index.html [L]
  RewriteRule ^ index.html [L]
</IfModule>
